    *{
        padding: 0px;
        margin: 0px;
    }
    .none{
        display: none;
    }
    body{
        background-color: beige;
    }
    .container{
    display: flex;
    align-items: center;
    justify-content: center;
   margin-top: 14%;
    }
    .search .h1{
        text-align: center;
        
    }
    .container input{
        width: 750px;
        height: 30px;
    border-radius: 10px;
    margin-top: 10px;
     box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    }
    #searchBtn{
        width: 60px;
    height: 30px;
    border-radius: 10px;
    background-color: black;
    color: aqua;
     box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    }
  .card{
    width: 700px;
    height: 350px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 25px;
    background-color: white;
     box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

  
  .intro{
    display: flex;
    position: relative;
  }
  .intro img{
    width: 130px;
    height: 130px;
    border-radius: 60px;
    margin: 15px;
  }
  .card li{
    margin-top: 10px;
    list-style: none;
  }
  .intro button{
   height: 30px;
   width: 100px;
   position: absolute;
   right: 0px;
   margin: 10px;
   background-color: rgb(244, 238, 238);
    color: aqua;
     border-radius: 10px;
  }
  .about{
    margin: 10px;
    
  }
  .follow{
    display: flex;
    justify-content:space-around;
  }
  .follow div h1{
    text-align: center;
  }
  
